#### ETL

Install psycopg2 to run SQL with python
#!pip install psycopg2

#setup 
from sqlalchemy import create_engine 
user = 'postgres'  # user name
pw = '123456'  # password
db = 'fifa19'  # database name
engine = create_engine(f"postgresql+psycopg2://{user}:{pw}@localhost/{db}")

In [1]:
pip show psycopg2

Name: psycopg2
Version: 2.9.9
Summary: psycopg2 - Python-PostgreSQL Database Adapter
Home-page: https://psycopg.org/
Author: Federico Di Gregorio
Author-email: fog@initd.org
License: LGPL with exceptions
Location: /Users/Manpreet/anaconda3/lib/python3.10/site-packages
Requires:
Required-by:
Note: you may need to restart the kernel to use updated packages.

For connection provide 
- username
- password
- host
- Dbname

Create cursor to run the SQL commands

In [56]:
# Define connection parameters
conn_params = {
    'dbname': 'fifa19',
    'user': 'postgres',
    'password': '123456',
    'host': 'localhost'
}

In [30]:
import psycopg2

# Connect to the database
conn = psycopg2.connect(
    dbname="fifa19",
    user="postgres",
    password="123456",
    host="localhost"
)

In [31]:
# Create a cursor object
cur = conn.cursor()

In [32]:
# Execute SQL commands
cur.execute("SELECT * FROM players limit 5")
# Fetch results, if needed
rows = cur.fetchall()
for row in rows:
    print(row)

(158023, 'L Messi', 31, 'argentina', 94, 94, 'FC Barcelona', 110500000, 565000, 'Left', 10, datetime.date(2004, 7, 1), "5'7", 159, 75)
(20801, 'Cristiano Ronaldo', 33, 'Portugal', 94, 94, 'Juventus', 77000000, 405000, 'Right', 7, datetime.date(2018, 7, 10), "6'2", 183, 85)
(190871, 'Neymar Jr', 26, 'Brazil', 92, 93, 'Paris Saint-Germain', 118500000, 290000, 'Right', 10, datetime.date(2017, 8, 3), "5'9", 150, 81)
(193080, 'De Gea', 27, 'Spain', 91, 93, 'Manchester United', 72000000, 260000, 'Right', 1, datetime.date(2011, 7, 1), "6'4", 168, 40)
(192985, 'K De Bruyne', 27, 'Belgium', 91, 92, 'Manchester City', 102000000, 355000, 'Right', 7, datetime.date(2015, 8, 30), "5'11", 154, 79)

In [33]:
# Execute SQL commands
cur.execute("SELECT table_name FROM information_schema.tables WHERE table_schema='public'")
# Fetch results, if needed
rows = cur.fetchall()
for row in rows:
    print(row)

('persons',)
('players',)
('email',)
('email1',)

#### Create table

In [34]:
 try:
    # Define the SQL statement for creating a table
    create_table_query = '''
        CREATE TABLE email1 (
            first_name VARCHAR(100),
            last_name VARCHAR(100),
            dob DATE,
            email TEXT
        )
    '''

    # Execute the SQL statement to create the table
    cur.execute(create_table_query)

    # Commit the transaction
    conn.commit()

except psycopg2.Error as e:
    print("Error creating table:", e)
    conn.rollback()

Error creating table: relation "email1" already exists

### Insert data

In [35]:
 try:
    # Define the SQL statement for creating a table
    insert_data_query = '''
        INSERT INTO email1 (first_name,last_name,dob,email)
        values ('abc def','def','12-12-2002','abc.def@gmail.com');
    '''

    # Execute the SQL statement to create the table
    cur.execute(insert_data_query)

    # Commit the transaction
    conn.commit()

except psycopg2.Error as e:
    print("Error creating table:", e)
    conn.rollback()

In [58]:
# Execute SQL commands
cur.execute("Select * from email1")
# Fetch results, if needed
rows = cur.fetchall()
for row in rows:
    print(row)

('abc def', 'def', datetime.date(2002, 12, 12), 'abc.def@gmail.com')
('abc def', 'def', datetime.date(2002, 12, 12), 'abc.def@gmail.com')

### Insert data from csv

In [46]:
import csv
from datetime import datetime 
with open('/Users/Manpreet/Documents/DataAnalysis/SQL/email.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)  # Skip the header row if exists
    for row in reader:
        # Execute INSERT statement to add data to the database
        # Parse date and handle invalid formats
        try:
            dob = datetime.strptime(row[2], '%Y-%m-%d').date()
        except ValueError:
            print("Invalid date format in row:", row)
            continue
        try:
            cur.execute(
                "INSERT INTO email (first_name, last_name, dob, email) VALUES (%s, %s, %s, %s)",
                (row[0], row[1], dob, row[3])
            )
        except psycopg2.Error as e:
            print("Error inserting data:", e)
            continue

# Commit the transaction
conn.commit()

In [59]:
# Execute SQL commands
cur.execute("Select * from email")
# Fetch results, if needed
rows = cur.fetchall()
for row in rows:
    print(row)

('David', 'farari', datetime.date(1989, 2, 12), 'David.farari@gmail.com')
('kisrten', 'christian', datetime.date(1980, 3, 13), 'kisrten.christian@gmail.com')
('ronald', 'trump', datetime.date(1970, 7, 24), 'ronald.trump@gmail.com')
('Ashley', 'quigg', datetime.date(1999, 6, 27), 'Ashley.quigg@gmail.com')
('megan', 'morrison', datetime.date(1979, 4, 12), 'megan.morrison@gmail.com')
('David', 'farari', datetime.date(1989, 2, 12), 'David.farari@gmail.com')
('kisrten', 'christian', datetime.date(1980, 3, 13), 'kisrten.christian@gmail.com')
('ronald', 'trump', datetime.date(1970, 7, 24), 'ronald.trump@gmail.com')
('Ashley', 'quigg', datetime.date(1999, 6, 27), 'Ashley.quigg@gmail.com')
('megan', 'morrison', datetime.date(1979, 4, 12), 'megan.morrison@gmail.com')
('Devid', 'morrison', datetime.date(2002, 12, 12), 'abc.def@gmail.com')
('Peter', 'quigg', datetime.date(2002, 12, 12), 'peter@gmail.com')
('Aliff', 'blasphet', datetime.date(2002, 12, 12), 'aliff@gmail.com')
('Mukesh', 'Sharma', datetime.date(2002, 12, 12), 'mukesh.sharma@gmail.com')

### Insert multiple rows

In [52]:
data = [('Devid','morrison','12-12-2002','abc.def@gmail.com'),
        ('Peter','quigg','12-12-2002','peter@gmail.com'),
        ('Aliff','blasphet','12-12-2002','aliff@gmail.com'),
        ('Mukesh','Sharma','12-12-2002','mukesh.sharma@gmail.com')]

In [53]:
query = "insert into email values (%s, %s, %s, %s)"

In [57]:
cur.executemany(query,data)
conn.commit()

In [60]:
try:
    # Connect to the database
    conn = psycopg2.connect(**conn_params)

    # Create a cursor
    cur = conn.cursor()

    # Execute the insert query with executemany
    cur.executemany(query, data)

    # Commit the transaction
    conn.commit()

except psycopg2.Error as e:
    print("Error:", e)
    conn.rollback()  # Rollback the transaction if an error occurs

finally:
    # Close cursor and connection
    cur.close()
    conn.close()

In [62]:
# Connect to the database
conn = psycopg2.connect(**conn_params)

# Create a cursor
cur = conn.cursor()

# Execute SQL commands
cur.execute("Select * from email")
# Fetch results, if needed
rows = cur.fetchall()
for row in rows:
    print(row)
    

# Close cursor and connection
cur.close()
conn.close()

('David', 'farari', datetime.date(1989, 2, 12), 'David.farari@gmail.com')
('kisrten', 'christian', datetime.date(1980, 3, 13), 'kisrten.christian@gmail.com')
('ronald', 'trump', datetime.date(1970, 7, 24), 'ronald.trump@gmail.com')
('Ashley', 'quigg', datetime.date(1999, 6, 27), 'Ashley.quigg@gmail.com')
('megan', 'morrison', datetime.date(1979, 4, 12), 'megan.morrison@gmail.com')
('David', 'farari', datetime.date(1989, 2, 12), 'David.farari@gmail.com')
('kisrten', 'christian', datetime.date(1980, 3, 13), 'kisrten.christian@gmail.com')
('ronald', 'trump', datetime.date(1970, 7, 24), 'ronald.trump@gmail.com')
('Ashley', 'quigg', datetime.date(1999, 6, 27), 'Ashley.quigg@gmail.com')
('megan', 'morrison', datetime.date(1979, 4, 12), 'megan.morrison@gmail.com')
('Devid', 'morrison', datetime.date(2002, 12, 12), 'abc.def@gmail.com')
('Peter', 'quigg', datetime.date(2002, 12, 12), 'peter@gmail.com')
('Aliff', 'blasphet', datetime.date(2002, 12, 12), 'aliff@gmail.com')
('Mukesh', 'Sharma', datetime.date(2002, 12, 12), 'mukesh.sharma@gmail.com')
('Devid', 'morrison', datetime.date(2002, 12, 12), 'abc.def@gmail.com')
('Peter', 'quigg', datetime.date(2002, 12, 12), 'peter@gmail.com')
('Aliff', 'blasphet', datetime.date(2002, 12, 12), 'aliff@gmail.com')
('Mukesh', 'Sharma', datetime.date(2002, 12, 12), 'mukesh.sharma@gmail.com')

In [ ]:
# Close cursor and connection
cur.close()
conn.close()

In [ ]:




# letters = pd.read_csv(r"C:\Users\asus\DataScience\codes_DS_sample\Blackbox\SVM\svm\letterdata.csv")

# letters.to_sql('letters_svm', con = engine, if_exists = 'replace', chunksize = 1000, index = False)

sql = 'select * from letter_data;'
letters = pd.read_sql_query(sql, engine)